.about {
    padding-top: 64px;
    background-color: #328ACA;

    &-container {
        max-width: 1215px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    &__content {
        @include a (tablet-xl) {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: toRem(48);
        font-weight: 400;
        letter-spacing: -1px;
        color: #fff;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    &__subtitle {
        font-size: toRem(22);
        color: #fff;
        display: block;
        margin-bottom: 40px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include a (tablet-xl) {
            padding-bottom: 50px;
        }
    }

    &__item {
        font-size: toRem(24);
        color: #fff;
        padding-left: 76px;
        font-weight: 300;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url(./../img/about-item.png);
            width: 29px;
            height: 21px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__image {
        @include a (tablet-xl) {
            display: none;
        }
    }
}