.header {
    padding: 30px 0 17px;
    background: #E5E5E5;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @include a (laptop) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__info {

        @include a (mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        &-adress {
            position: relative;
            padding-left: 25px;

            &::before {
                content: "";
                position: absolute;
                background: url(./../img/header-adress.svg);
                width: 13px;
                height: 12px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-mail {
            position: relative;
            padding-left: 20px;
            margin-left: 10px;
            color: #000000;

            &::before {
                content: "";
                position: absolute;
                background: url(./../img/header-mail.svg);
                width: 11px;
                height: 8px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        @include a (mobile) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__phone {
        margin-right: 15px;

        &-link {
            font-size: toRem(18);
            font-weight: 700;
            color: #000000;
            display: block;
            position: relative;
            padding-left: 20px;
            &::before {
                content: "";
                position: absolute;
                background: url(./../img/phone-icon.svg);
                width: 13px;
                height: 13px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__descr {
        font-size: toRem(10);
        color: #979797;
    }

    &__btn {
        font-size: toRem(10);
        background: #52C306;
        border-radius: 4px;
        padding: 10px 20px;
        color: #FFFFFF;
        width: 149px;
        height: 30px;
    }


    &__items {
        display: flex;
        justify-content: space-between;

        @include a (tablet) {
            flex-direction: column;
            align-items: center;

        }
    }

    &__item {
        padding: 17px 5px;
        flex-grow: 1;
        text-align: center;
        position: relative;

        @include a (tablet) {
            padding: 5px 2px;
        }
        &-main::before {
            content: "";
            position: absolute;
            background: url(./../img/main.png);
            width: 10px;
            height: 10px;
            left: 23px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-link {
            font-size: toRem(12);
            color: #9B9B9B;
            white-space: nowrap;
        }
    }

}